/* DogWalkersSearchPage.css */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.dog-walker-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (min-width: 1200px) {
  .dog-walker-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dog-walker-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dog-walker-card:hover {
  transform: translateY(-5px);
}

.details {
  text-align: center;
}

.details h2 {
  margin-bottom: 5px;
  color: #333;
}

.details p {
  margin-bottom: 10px;
  color: #666;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience p {
  margin-right: 5px;
  font-weight: bold;
}

.paw-container {
  display: flex;
  justify-content: center;
}

.paw-img {
  width: 20px;
  height: auto;
  margin-right: 3px;
}
