/* Color Palette */
:root {
    --dusty-rose: #D8B1A0;
    --offwhite: #f9f3b9;
    --maroon: #854B50;
    --desert-sun: #BB8A50;
}

/* Fonts */
body {
    font-family: 'Neucha', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*min-height: 0vh;*/
}

.container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    /*background-color: var(--dusty-rose);*/
}

.dog-walker-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columns with equal width */
    gap: 1rem;
}

@media all and (min-width: 769px) {
    .dog-walker-list {
        grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
    }
}

.dog-walker-card {
    background-color: var(--offwhite);
    border-radius: 8px;
    padding: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Neucha', sans-serif;
}

.search-bar {
    width: 300px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--desert-sun);
    font-size: 16px;
    font-family: 'Neucha', sans-serif;
    margin-right: 10px;
}


.dog-walker-card img {
    width: 100%;
    max-width: 4vw;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.details {
    text-align: center;
}

.details h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.details p {
    font-size: 1rem;
    color: #666;
}

h1 {
    font-size: 3rem;
    color: var(--maroon);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: 'Neucha', sans-serif;
}

.search-criteria {
    height: 40px;
    font-size: 16px;
    font-family: 'Neucha', sans-serif;
}

.paw-container {
    display: flex;
    width: 30px;
    height: 30px;
}

.paw-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.login-btn {
    margin-top: 1vw;
    border-radius: 10px;
    width: 10vw;
    height: max(3vw, 30px); /* Adjust height */
    text-align: center;
    font-family: 'Neucha', sans-serif;;
    background-color: var(--desert-sun); /* Green background color */
    border: 10px;
    color: var(--offwhite); /* White text color */
    padding: 1px 2px; /* Padding */ /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 20px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    transition-duration: 0.4s; /* Transition duration */
}

.login-btn:hover {
    background-color: var(--maroon); /* Darker green on hover */
}
