/* Color Palette */
:root {
    --dusty-rose: #D8B1A0;
    --offwhite: #f3c7a5;
    --maroon: #854B50;
    --desert-sun: #BB8A50;
}

/* Fonts */
body {
    font-family: 'Myriad Regular', sans-serif;
}

.background-container {
    display: flex;
    background-color: var(--dusty-rose);
    height: 100vh;
}

.background-image-container {
    background-image: url('your-background-image.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: var(--offwhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-center {
    margin-bottom: 20px;
}

.login-input {
    border: 1px solid var(--maroon);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

.login-input:focus {
    outline: none;
}

.login-btn {
    background-color: var(--desert-sun);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    *background-color: var(--maroon);
}
@media only screen and (max-width: 2600px) {
    .login-container {
        width: 90%;
        max-width: none;
    }
}
