/* Color Palette */
:root {
    --dusty-rose: #D8B1A0;
    --offwhite: #f9f3b9;
    --maroon: #854B50;
    --desert-sun: #BB8A50;
}

/* Fonts */
body {
    font-family: 'Neucha', sans-serif;
}
.logo-container {
  position: fixed;
  top: 13px;
  left: 15px;
}

.logo-img {
  width: 30px; /* Adjust the width as needed */
  height: auto;
}



.logo-container button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}


