/* Color Palette */
:root {
    --dusty-rose: #D8B1A0;
    --offwhite: #f6e0cb;
    --maroon: #854B50;
    --desert-sun: #BB8A50;
}

/* Fonts */
body {
    font-family: 'Neucha', sans-serif;
}

.opening-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    background-image: url('./public/logosAndIcons/woofiLogo.jpg'); /* need to add a photo */
    background-size: cover;
    background-position: center;
    background-color: var(--offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.opening-page h1 {
    font-size: 24px;
    color: var(--maroon);
}
